<div class='navBar'>
  <a href='/'>
    <div class='nav-item'>
      Home
    </div>
  </a>
  <a href='/beers'>
    <div class='nav-item'>
      Beers
    </div>
  </a>
  <a href="/random-beer">
    <div class='nav-item'>
      Random Beer
    </div>
  </a>
</div>